body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

/* font-size */

.f-small {
  font-size: 12px;
  font-weight: 700;
}

.f-mid {
  font-size: 16px;
  font-weight: 700;
}

.f-lg {
  font-size: 20px;
  font-weight: 700;
}

/* wrap */

.wrap {
  background-color: #b2ccd6;
  width: 736px;
  height: 514px;
  padding: 30px;
}

.wrap h2 {
  color: #3c5e80;
}

.container-wrap {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}

/* table tag*/

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  border-style: hidden;
}

tr {
  border-bottom: 1px solid #b2ccd6;
}

tr,
td {
  padding: 5px;
  background-color: white;
}

/* table-header */

.table-header td {
  text-align: center;
  color: #9bb3bb;
}

.table-header td:nth-child(2) {
  text-align: start;
}

/* table-img */

.table-img img {
  padding-left: 20px;
  width: 60%;
  height: 60px;
}

/* table-item */

.table-item p {
  margin: 0;
}
.table-item p:nth-child(1) {
  color: black;
}
.table-item p:nth-child(2) {
  color: #9bb3bb;
}

/* table-info */

.table-info p {
  color: #9bb3bb;
  text-align: center;
}

.info-total p {
  padding-right: 10px;
  color: #3c5e80;
}

/* table-footer */

.table-footer {
  display: flex;
  justify-content: space-between;
}

.table-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.table-footer a {
  margin-top: 10px;
  color: #3c5e80;
}

.table-footer button {
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: seashell;
  background-color: #3c5e80;
  cursor: pointer;
}

.table-footer button:hover {
  background-color: chocolate;
}

.table-footer button:active {
  background-color: brown;
}

.table-footer button:focus {
  background-color: chocolate;
}
